<div id="content">
    <h3 id="tech">Tech</h3>
    <div class="newscontent">
        <div class="newspart1">
            <img src="../../../assets/images/bbc/contentmain.png" width="500px">
            <h2 id="sub"><a href="">Noise-destroying Tech cleans up our calls</a></h2>
            <p id="para">Two noise-cancelling AI systems - Nvidia RTX Voice and Krisp - are put to the test.</p>
            <div>
                <img id="clock" src="../../../assets/images/bbc/clock.png">
                <span id="ending">1d | </span>
                <span id="link"><a href="">Technology</a></span>
            </div>
        </div>
        <div class="newspart2">
            <img src="../../../assets/images/bbc/contentmain2.jpg" width="500px">
            <h2 id="sub"><a href="">Russia hacked Ukrainian satellite communications</a></h2>
            <p id="para">Western officials think the attack on US company Viasat.;</p>
            <div>
                <img id="clock" src="../../../assets/images/bbc/clock.png">
                <span id="ending">1d | </span>
                <span id="link"><a href="">Technology</a></span>
            </div>
        </div>
    </div>
</div>