<div id="white-box">
    <div id="bbc-logo">
        <img src="../../../assets/images/bbc/bbc-logo.png">
    </div>
    <div id="sign-in">
        <img src="../../../assets/images/bbc/sign-in-logo.png">
        <span id="sign-in-text">Sign in</span>
    </div>

    <div class="gray-boxing">Home</div>
    <div class="gray-boxing">News</div>
    <div class="gray-boxing">Sport</div>
    <div class="gray-boxing">Reel</div>
    <div class="gray-boxing">Worklife</div>
    <div class="gray-boxing">Travel</div>
    <div class="gray-boxing">Future</div>
    <div class="gray-boxing">Culture</div>
    <div class="nul-gray-boxing">
        More
        <img id="downarrowblack" src="../../../assets/images/bbc/downarrowblack.png">
    </div>
    <div id="gray-line"></div>

    <div id="search-box">
        <input id="search" type="text" placeholder="Search">
        <input type="image" id="magnifypic" src="../../../assets/images/bbc/magnifyglass.png">
    </div>
</div>
<hr id="line1">
<div id="red-box">
    <div id="red-box-1">
        <h1>NEWS</h1>
    </div>
    <div id="red-box-2">
        <div class="nul-redboxingstart"><a href="">Home</a></div>
        <div class="redboxing2"><a href="">Coronavirus</a></div>
        <div class="redboxing2"><a href="">Video</a></div>
        <div class="redboxing2"><a href="">World</a></div>
        <div class="redboxing2"><a href="">Asia</a></div>
        <div class="redboxing2"><a href="">UK</a></div>
        <div class="redboxing2"><a href="">Business</a></div>
        <div class="redboxing2"><a href="">Tech</a></div>
        <div class="redboxing2"><a href="">Science</a></div>
        <div class="redboxing2"><a href="">Stories</a></div>
        <div class="redboxing2"><a href="">Entertainment & Arts</a></div>
        <div class="redboxing2"><a href="">Health</a></div>
        <div class="redboxing2"><a href="">World News TV</a></div>
        <div class="redboxing2"><a href="">In Pictures</a></div>
        <div class="nul-redboxingend">
            <a href="">More
        <img id="downarrowwhite" src="../../../assets/images/bbc/downarrowwhite.png"></a>
        </div>
    </div>
</div>